service: cs-group-${self:custom.stageVars.groupNumber}-${self:custom.stageVars.myFirstname}

provider:
  name: aws
  runtime: nodejs12.x
  stage: dev
  region: eu-west-1

functions:
  hello:
    handler: functions/hello.handle
    events:
      - http:
          path: hello
          method: get

custom:
  stageVars: ${file(./stage.${self:provider.stage}.yml)}
